<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">I am a Hacker, Programmer, Bug Bounty Hunter and Security enthusiast.</h4>
  </div>
  <div class="user-content">
    <p>
      I am a Hacker, Prrrogrammer, Bug Bounty Hunter and Security enthusiast from the UK. I have been studying IT for 7 years and hackign for 1 year.
    </p>
    <h5>CTF:</h5>
    <p>I actively do HackTheBox and run a top #30 team called TCLRed.
    <br>
    <script src="https://www.hackthebox.eu/badge/109871"></script>
    <br>
    <b>HTB Profile:</b> https://www.hackthebox.eu/profile/109871
    <br>
    <b>HTB Team:</b>  https://www.hackthebox.eu/teams/profile/1705</p>

  </div>
</div>
